<a href="https://colab.research.google.com/github/603021852-8/multivariate/blob/main/Function_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

' ' ' pyhon \
def   function_name(_input_) : \
       do_something with _input_ to get _Output_ \
       return  _Output_

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราเขียนฟังก์ชั่น ชื่ออะไร def function_name(): ขาดไม่ได้ \

In [2]:
def print_name(name,surname,ID) :
     st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
     return st

In [3]:
print_name('กิตติมา' , 'อุปสุข' , '623021040-6')

'ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-6'

In [4]:
output_string = print_name('กิตติมา' , 'อุปสุข' , '623021040-6')
print(output_string)

ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-6

## ฟังก์ชั่นไม่จำเป็นต้องมี output

In [12]:
def print_name2(name,surname,ID) :
     st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
     print(st)

In [13]:
print_name2('กิตติมา' , 'อุปสุข' , '623021040-6')

ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-6

In [14]:
op2 = print_name2('กิตติมา' , 'อุปสุข' , '623021040-6')

ชื่อ กิตติมา นามสกุล อุปสุข ID 623021040-6

In [15]:
print(op2)

None

In [16]:
def Pi(): 
     return 3.14159265359

In [18]:
# คำนวณพื้อที่วงกลมที่มีขนาดเส้นผ่านศูนย์กลางเท่ากับ 3
Pi()*(1.5**2)

7.0685834705775

In [20]:
def print_my_name():
     print('ธนพงศ์ อินทระ IDxxxxxxx')

In [21]:
print_my_name()

ธนพงศ์ อินทระ IDxxxxxxx

### input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default) เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [25]:
def print_2lines_default(name, surname, ID, grade='F'):
     st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
     print(st)
     st2=f'เกรดวิชา Multivariate >>> {grade}'
     print(st2)

In [26]:
print_2lines_default('ภิญญาดา' , 'เพ็ญสุข' , '623021052-2')

ชื่อ ภิญญาดา นามสกุล เพ็ญสุข รหัส 623021052-2
เกรดวิชา Multivariate >>> F

In [ ]:
print_2lines_default('ภิญญาดา' , 'เพ็ญสุข' , '623021052-2')

HW3 ให้เขียน function คำนวณจำนวนวินาทีจาก เวลาต่อไปนี้ \
'14-15-31' \
'13-00-01' \
'05-49-44' \
'00-00'16' \
และ print ให้สวยงาม